{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
     <img src="https://github.com/devusfs/devusfs.github.io/blob/7eda55710d33557473f315cb4d8c8bb7f762b781/assets/images/logo.png?raw=true" alt="DAVUS" >
    <!-- <p class="meta">Open-source MIT Licensed. <a href="https://github.com/h-enk/doks">GitHub v{{ $data := getJSON "/package.json" }}{{ $data.version }}</a></p> -->
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4"><a href="/docs/"></h2></a>
        <p>
        </p>
        <p></p>
      </div>
      <div class="col-lg-6">
        <h2 class="h4">Finance & Corporate Advisory</h2>
        <p>At <b>DEVUS</b>, we generate value for clients through our astute and
          passionately engaging with them.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4"></h2>
        <p></a></p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
    </div>
    </div>
  </div>
</section>
{{ end }}
{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
